[Unit]
Description=Dashcam TCP Client service
After=network.target
StartLimitIntervalSec=30

[Service]
User=root
Type=simple
ExecStart=/usr/bin/dashcam_tcp_client
Restart=on-failure

[Install]
WantedBy=multi-user.target
