[Unit]
Description=Dashcam TCP Client service
After=network.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/dashcam_tcp_client

[Install]
WantedBy=multi-user.target
